<form action="/rooms" method="POST" enctype="multipart/form-data">
	<label for="room-name">Room Name</label>
	<input id="room-name" type="text" name="roomName">
	<label for="room-language">Language</label>
	<input type="text" id="room-language" name="roomLanguage">
	<label for="room-image">Image</label>
	<input type="file" id="room-image" name="roomImage" accept="image/*">
	<input type="submit">
</form>