<% include ./partials/header%>

<h1>Hello</h1>
<h2><a href="/profile/">Profile</a></h2>

<a href="/auth/login">Login</a><br>
<a href="/auth/register">Signup</a><br>

<a href="/auth/google">Login with Google</a><br>

<% include ./partials/footer%>